<div class="wrapper radio-btns">
  <div class="row wrapper radio-btns">
    <app-project class="col-4 radio-btns__btn"></app-project>
    <app-project class="col-4 radio-btns__btn"></app-project>
    <app-project class="col-4 radio-btns__btn"></app-project>
    <app-project class="col-4 radio-btns__btn"></app-project>
    <app-project class="col-4 radio-btns__btn"></app-project>
    <app-project class="col-4 radio-btns__btn"></app-project>
    <app-project class="col-4 radio-btns__btn"></app-project>
    <app-project class="col-4 radio-btns__btn"></app-project>
    <app-project class="col-4 radio-btns__btn"></app-project>
  </div>
</div>
