.container {
}

.img {
  display: block;
  height: 250px;

  &:hover .radio-btns__btn:not(:hover) {
    filter: grayscale(100%);

    &::after {
      background-color: rgba(#000, 0.5);
    }
  }
}

//anton kristell original page
